---
const { cy } = Astro.props
---
<div class="bg-zinc-200">
    <video
        autoplay={ true }
        class="h-full w-full object-cover"
        data-cy={ cy }
        loop={ true }
        muted={ true }
        playsinline={ true }
        preload="auto"
    >
        <slot/>
    </video>
</div>
