.markdown.paragraph4xl p {
    @apply font-jost font-thin text-xl md:text-4xl text-faf_charcoal_black py-1 md:py-4 !important;
}

@font-face {

    font-family: 'Helvetica Neue Light';
    src: url('/fonts/HelveticaNeue-Light.otf');

}
@font-face {

    font-family: 'Helvetica Neue Medium';
    src: url('/fonts/HelveticaNeue-Medium.otf');

}
