---

// IMPORTS ASTRO LAYOUTS
import Container from "@/layouts/container/index.astro"

// IMPORTS ASTRO ATOMS
import HeadingTwo from "@/atoms/heading/two/semibold/index.astro"

// GET ASTRO PROPS
const { data } = Astro.props

---
<Container>
    <section class="py-4 md:py-14 pt-36 md:pt-48">
        <HeadingTwo>{ data.title_one }</HeadingTwo>
        <HeadingTwo>{ data.title_two }</HeadingTwo>
        <HeadingTwo>{ data.title_three }</HeadingTwo>
    </section>
</Container>
