---

// IMPORTS ASTRO COMPONENTS
import Footer from "@/components/common/footer/index.astro"
import Header from "@/components/common/header/index.astro"
import Portfolio from "@/components/about/portfolio/index.astro"
import Services from "@/components/about/services/index.astro"
import WhoAreWe from "@/components/about/who-are-we/index.astro"

// GET ASTRO PROPS
const {

    CDN,
    data,
    ENVIRONMENT,
    page,
    portfolio,
    PROJECT

} = Astro.props

---
<Header
    ENVIRONMENT={ ENVIRONMENT }
/>
<section class="relative h-full z-10 bg-white pt-32">
    <WhoAreWe
        data={ page }
    />
    <Services
        CDN={ CDN }
        data={ data }
        PROJECT={ PROJECT }
    />
    <Portfolio
        CDN={ CDN }
        data={ portfolio }
        PROJECT={ PROJECT }
    />
</section>
<Footer />
