---

// IMPORTS ASTRO LAYOUTS
import Container from "@/layouts/container/index.astro"

// IMPORTS ASTRO ATOMS
import HeadingTwo from "@/atoms/heading/two/extrabold/index.astro"
import Paragraph4xl from "@/atoms/paragraph/4xl/index.astro"
import PictureContain from "@/atoms/picture/contain/index.astro"


// GET ASTRO PROPS
const {

    CDN,
    data,
    PROJECT

} = Astro.props

---
<Container>
    <section class="space-y-4 py-4 md:py-20">
        <HeadingTwo>{ data.title }</HeadingTwo>
        <Paragraph4xl>{ data.description }</Paragraph4xl>
        <div class="w-full h-full">
            <PictureContain
                alternative_text={ data.title }
                CDN={ CDN }
                PROJECT={ PROJECT }
                source={ data.cover }
            />
        </div>
    </section>
</Container>
