---

// IMPORTS ASTRO LAYOUTS
import Container from "@/layouts/container/index.astro"

// IMPORTS ASTRO COMPONENTS
import Footer from "@/components/common/footer/index.astro"
import Header from "@/components/common/header/index.astro"

// IMPORTS ASTRO ATOMS
import HeadingTwo from "@/atoms/heading/two/extrabold/index.astro"
import Paragraph4xl from "@/atoms/paragraph/4xl/index.astro"

// GET ASTRO PROPS
const { ENVIRONMENT } = Astro.props

const data = {

    title: "wine spotlight.",
    description: "check out our 2022 wine spotlight."

}

---
<Header ENVIRONMENT={ ENVIRONMENT } />
<Container>
    <section class="grid grid-cols-5 gap-20 py-20 relative h-screen z-10 bg-white pt-36">
        <section class="col-span-2 space-y-20">
            <HeadingTwo>{ data.title }</HeadingTwo>
            <Paragraph4xl>{ data.description }</Paragraph4xl>
        </section>
        <section class="col-span-3">
            <iframe
                width="692"
                height="390"
                src="https://www.youtube.com/embed/PTTrFw8872M"
                title="FIFTY &amp; FIVE    wine spotlight"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen>
            </iframe>
        </section>
    </section>
</Container>
<Footer />
