---

// IMPORTS ASTRO ATOMS
import Link from "@/atoms/link/index.astro"

// GET ASTRO PROPS
const {

    aria_label,
    href,
    title

} = Astro.props

---
<div class="group w-fit">
    <Link href={ href } aria_label={ aria_label }>
        <span class="text-4xl font-light font-helvetica_neue text-faf_black">{ title }</span>
    </Link>
    <div class="w-0 bg-faf_black group-hover:w-full h-[1px] transition-width duration-100 ease-in"></div>
</div>
