---

// IMPORTS ASTRO LAYOUTS
import Container from "@/layouts/container/index.astro"

// IMPORTS ASTRO COMPONENTS
import ServiceCard from "@/components/about/services/card/index.astro"

// GET ASTRO PROPS
const {

    CDN,
    data,
    PROJECT

} = Astro.props

---
<Container>
    <section class="grid md:grid-cols-3 gap-4 md:gap-20">
        {

            data.map( ( value ) => {

                return(
                    <ServiceCard
                        alternative_text={ value.title }
                        CDN={ CDN }
                        description={ value.description }
                        phonetic_notation={ value.phonetic_notation }
                        PROJECT={ PROJECT }
                        source={ value.cover }
                        title={ value.title }
                    />
                )

            })

        }
    </section>
</Container>
