---

// IMPORTS ASTRO ATOMS
import HeadingThreeDarkGray from "@/atoms/heading/three/dark-gray/index.astro"
import PictureContain from "@/atoms/picture/contain/index.astro"

// GET ASTRO PROPS
const {

    alternative_text,
    CDN,
    description,
    phonetic_notation,
    PROJECT,
    source,
    title

} = Astro.props

---
<div>
    <div class="size-72">
        <PictureContain
            alternative_text={ alternative_text }
            CDN={ CDN }
            PROJECT={ PROJECT }
            source={ source }
        />
    </div>
    <HeadingThreeDarkGray>{ title }</HeadingThreeDarkGray>
    <p class="text-faf_dark_gray text-2xl font-helvetica_neue font-extralight">{ phonetic_notation }</p>
    <p class="text-faf_dark_gray text-base font-helvetica_neue_light font-light">{ description }</p>
</div>
