---

// IMPORTS ASTRO LAYOUTS
import Container from "@/layouts/container/index.astro"

// IMPORTS ASTRO ATOMS
import HeadingTwo from "@/atoms/heading/two/extrabold/index.astro"

// IMPORTS MARKED
import { marked } from "marked"

// GET ASTRO PROPS
const { data } = Astro.props
const description = marked.parse( data.description )

---
<Container>
    <section class="md:w-[60%] space-y-2 md:space-y-4 md:py-20">
        <HeadingTwo>{ data.title }</HeadingTwo>
        <section set:html={ description } class="markdown paragraph4xl" />
    </section>
</Container>
